@{
    ViewBag.Title = "Tv";
}

<h2>TV</h2>

<div>
    <div>
        <iframe width="560" height="340" src="http://cdn.livestream.com/embed/chapolintv?layout=4&color=0x000000&autoPlay=true&mute=false&iconColorOver=0xe7e7e7&iconColor=0xcccccc&allowchat=true&height=340&width=560" style="border:0;outline:0" frameborder="0" scrolling="no"></iframe>
    </div>

</div>